<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

  <bean id="userService" class="aop.service.impl.UserServiceImpl"/>
  <bean id="orderService" class="aop.service.impl.OrderServiceImpl"/>

  <!--开启 @AspectJ 配置-->
  <aop:aspectj-autoproxy/>

  <bean id="logArgsAspect" class="aop.spring2_aspectJ.LogArgsAspect">
    <!--如果需要配置参数，和普通的 bean 一样操作-->
    <property name="trace" value="true"/>
  </bean>

  <bean class="aop.spring2_aspectJ.LogResultAspect">
    <property name="trace" value="true"/>
  </bean>

</beans>